variable "heroku_api_key" {
  type        = string
  default     = ""
  description = "36-symbols code to authorize on Heroku platform. The api_key can be generate from the command line https://devcenter.heroku.com/articles/authentication"
  sensitive   = true
}

variable "heroku_email" {
  type        = string
  default     = ""
  description = "36-symbols code to authorize on Heroku platform. The api_key can be generate from the command line https://devcenter.heroku.com/articles/authentication"
    sensitive   = true
}

variable "telegram_token" {
  default = ""
  sensitive   = true
}

variable "database_url" {
default = ""
sensitive = true
}

